<div class="div_principal_foot">


    <div class="item flex-item-1">      
        <img src="images/logo-azul.png" class="img_logo"/>
        <br /> O Maior portal de Papelaria<br />          
        e Armarinho B2B do Brasil!<br />
        <img src="images/ssl-site-seguro.png" class="img_logo"/>
   </div>


      <div class="item flex-item-1">      
            
              Quem somos<br />
              FAQ<br />
              Política de Privacidade<br />
              Fale conosco<br />
              Criar conta usuário<br />
              Anunciar<br />      
      </div>



     <div class="item flex-item-1">
          <br /> Mídias Sociais<br />
         <div>
             <img src="images/Facebook.png" class="img_midia_social"/>
             <img src="images/instagram-logo-3.png"  class="img_midia_social" />
         </div>

    </div>

 
</div>
