<head>
    <title>Portal B2B - O Maior Portal de Papelaria do Brasil</title>
    <link rel = "shortcut icon" type = "imagem/x-icon" href='/images/favicon.ico'/>
    <link rel='stylesheet' href='/stylesheets/base.css' />
</head>