<!DOCTYPE html>
<html>
      <!-- HEAD DO SITE -->
      <%- include('partials/head') %>
      <!-- FIM - HEAD DO SITE -->
      <link rel='stylesheet' href='/stylesheets/home.css' />

  <body>
    <!-- HEADER DO SITE -->
    <%- include('partials/header') %>
    <!-- FIM - HEADER DO SITE -->


    <div class="contedudo_area">
        <br /> 
            <a href="/login" class="texto_dos_menu_do_footer botao_classificador">Todas as Categorias</a>
            <a href="/login" class="texto_dos_menu_do_footer botao_classificador">Brinquedos</a>
            <a href="/login" class="texto_dos_menu_do_footer botao_classificador">Cadernos</a>
            <a href="/login" class="texto_dos_menu_do_footer botao_classificador">Canetas, Lápis e Lapiseiras</a>
            <a href="/login" class="texto_dos_menu_do_footer botao_classificador">Informática</a>
            <a href="/login" class="texto_dos_menu_do_footer botao_classificador">Bolsas e Mochilas</a>
  
    </div>

    <div class="conteudo">


        <div class="base_banner">
            <img src="images/banner.png"  class="" />
        </div>
        

        <div class="bane_segundario">
        </div>


        <div class="spaco_entre_bloco">
        </div>

        
        <div class="text_menu_prdutos">
            Itens mais buscados:
        </div>


        <div class="row_produtos">
           
            <div class="produtos">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
                    <h3 class="prod-nome">Nome do Produto1</h3>
                    <button class="prod-cta" buttom href="#">Ver Produto</button>
            </div>

            <div class="produtos">
                <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
                <h3 class="prod-nome">Nome do Produto1</h3>
                <button class="prod-cta" buttom href="#">Ver Produto</button>
        </div>


        <div class="produtos">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
            <h3 class="prod-nome">Nome do Produto1</h3>
            <button class="prod-cta" buttom href="#">Ver Produto</button>
    </div>


    <div class="produtos">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
        <h3 class="prod-nome">Nome do Produto1</h3>
        <button class="prod-cta" buttom href="#">Ver Produto</button>
</div>

<div class="produtos">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
    <h3 class="prod-nome">Nome do Produto1</h3>
    <button class="prod-cta" buttom href="#">Ver Produto</button>
</div>


<div class="produtos">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
    <h3 class="prod-nome">Nome do Produto1</h3>
    <button class="prod-cta" buttom href="#">Ver Produto</button>
</div>


        </div>   




        <div class="spaco_entre_bloco">
        </div>

        
        <div class="text_menu_prdutos">
           Produtos em destaque:
        </div>


        <div class="row_produtos">
           
            <div class="produtos">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
                    <h3 class="prod-nome">Nome do Produto1</h3>
                    <button class="prod-cta" buttom href="#">Ver Produto</button>
            </div>

            <div class="produtos">
                <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
                <h3 class="prod-nome">Nome do Produto1</h3>
                <button class="prod-cta" buttom href="#">Ver Produto</button>
        </div>


        <div class="produtos">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
            <h3 class="prod-nome">Nome do Produto1</h3>
            <button class="prod-cta" buttom href="#">Ver Produto</button>
    </div>


    <div class="produtos">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
        <h3 class="prod-nome">Nome do Produto1</h3>
        <button class="prod-cta" buttom href="#">Ver Produto</button>
</div>

<div class="produtos">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
    <h3 class="prod-nome">Nome do Produto1</h3>
    <button class="prod-cta" buttom href="#">Ver Produto</button>
</div>


<div class="produtos">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
    <h3 class="prod-nome">Nome do Produto1</h3>
    <button class="prod-cta" buttom href="#">Ver Produto</button>
</div>


        </div>  




        <div class="spaco_entre_bloco">
        </div>

        
        <div class="text_menu_prdutos">
            Produto novos:
        </div>


        <div class="row_produtos">
           
            <div class="produtos">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
                    <h3 class="prod-nome">Nome do Produto1</h3>
                    <button class="prod-cta" buttom href="#">Ver Produto</button>
            </div>

            <div class="produtos">
                <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
                <h3 class="prod-nome">Nome do Produto1</h3>
                <button class="prod-cta" buttom href="#">Ver Produto</button>
        </div>


        <div class="produtos">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
            <h3 class="prod-nome">Nome do Produto1</h3>
            <button class="prod-cta" buttom href="#">Ver Produto</button>
    </div>


    <div class="produtos">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
        <h3 class="prod-nome">Nome do Produto1</h3>
        <button class="prod-cta" buttom href="#">Ver Produto</button>
</div>

<div class="produtos">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
    <h3 class="prod-nome">Nome do Produto1</h3>
    <button class="prod-cta" buttom href="#">Ver Produto</button>
</div>


<div class="produtos">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
    <h3 class="prod-nome">Nome do Produto1</h3>
    <button class="prod-cta" buttom href="#">Ver Produto</button>
</div>


        </div>  



        <div class="spaco_entre_bloco">
        </div>


    <!-- FOOTER DO SITE -->
    <%- include('partials/footer')%>
    <!-- FIM - FOOTER DO SITE -->

    <!-- END DO SITE -->
    <%- include('partials/end')%>
    <!-- FIM - END DO SITE -->
  </body>

</html>
