@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'); 
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin: 0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: Roboto, Verdana, sans-serif;

}

/************** CABEÇARIO header **************/

.area_header{
  background-color: rgba(71,133,195,1);
  height: 80px;
  width: 100%;
  display: flex;
    align-items: center;
  justify-content: center;
  /* position: fixed; */
  /* z-index: 2; */
}


.imagem_logo{
   width: 224px;
   height: 56px;
}


.area_busca{

  width: 2500px;
  height: 45px;
  border-radius: 10px;
  font-size: 22px;

  color: #5F5F5F;

  border:1px solid;
  border-radius: 6px;
  border-color: #5F5F5F;

}

.centralizar_div_header{
  /* align-items: center;
  justify-content: center; */
  top:50px;
}
.imagem_car{
  height: 40;
  width: 40;
}

.botao_header{
  color: white;
  background-color: transparent;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
  padding:10px 20px;
  white-space: nowrap;
  margin-right: 20px;
  border-radius: 6px;
  transition: background 0.5s;
  height: 45px;
}

.botao_header:hover{

  
  transition: border 0.15s;
  color:black;
  background:  white;
  border-radius: 6px;
  height: 45px;
   border-color: #5F5F5F;
   color: #5F5F5F;
   border-width: 1px; 
   border:1px solid;
   height: 45px;
   text-decoration: none;
}


.botao_header_Selecionado{


  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
  padding:10px 20px;
  white-space: nowrap;
  margin-right: 20px;
  border-radius: 6px;
  transition: background 0.5s;
  height: 45px;


  background-color: white;
  font-size: 22px;
  width: 160px;
  height: 45px;
  color: #5F5F5F;
  border-width: 4px; 
  border:1px solid;
  border-radius: 6px;
  border-color: #5F5F5F;
}
.botao_header_Selecionado:hover{
  text-decoration: none;
  background-color: white; opacity: 0.8;;
  font-size: 22px;
  width: 160px;
  height: 45px;
  color: rgba(71,133,195,1);
  border-width: 4px; 
  border:1px solid;
  border-radius: 6px;
  border-color: midnightblue

}




.conteudo{

  width: 1290px;
  height: auto;
  background: transparent;
  position: relative;
  margin: 5px auto 0 auto;


}


.div_do_logo_heard{
  width: 100%;
}

.div_dos_botos_heard{
  width: 2700px;;
   height: 100%;
      text-align: right;
      align-items: center;
      justify-content: center;
}

/* input:focus {
  background-color: mediumpurple;

} */
/************** RODAPE footer **************/


     .flex {
        display: flex;
        
      }
      
      .flex-wrap {
        flex-wrap: wrap;
      }
      
      .flex-item-1 {
        flex: 1;
      }
      
      .item {
        margin: 5px;
        text-align: left;
        font-size: 1.5em;
  
          /* font-family: Verdana; font-size: 26px;
       */
      }

      .item_head {
        margin: 5px;
        text-align: center;
        font-size: 1.5em;
  
          /* font-family: Verdana; font-size: 26px;
       */
      }
      
      .container {
        max-width: 400px;
        margin: 0 auto;
        border: 1px solid #ccc;
      }
      
      .img_logo {
          height: 76px; width: 305px
      }
      

      .img_site_seguro{
        height:79px; 
        width:170px;
      }
      .img_midia_social {
          height: 80px; 
          width: 80px
      }
      
      .div_principal_foot {
        display: flex;
        border-style: 0; 
        background-color: #C0C0C0; 
        height: 250px; 
        margin-left: 0px; 
        margin-top: 0px;
    }

    .texto_dos_menu_do_footer{
       color: black;
       text-decoration: none;
    }
    .texto_dos_menu_do_footer:hover{
      color:   rgba(71,133,195,1);
      text-decoration: double;
    }

/************** INFORMAÇÕES FINAIS END **************/
    .txt_end{
      text-align: center;
      background-color: #C0C0C0; 
  }


