@import url('/stylesheets/base.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');



.produtos{
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  margin-right: 20px;
}

.foto-produto{
    width: 100%;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 8px;
    position: relative;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.foto-produto:hover{
    opacity: 80%;
    transition: 0.3s;
}
.prod-cta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2689d4;
    color: white;
    width: 100%;
    height: 40px;
}
.prod-cta:hover{
  transition: 0.8s;
  color: rgb(255, 255, 255);
  background-color: rgb(1, 53, 102);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
}

.prod-nome{
    display: flex;
  justify-content: center;
  align-items: center;
}

.text_menu_produtos{
  margin-left: 110px;
  font-size: 20;
}

.contedudo_area{
  background-color: #DDDDDD;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;


}

.botao_classificador{
  padding: 30px;

/* background-color: brown; */

}

.conteudo{

  width: 1290px;
  height: auto;
  background: transparent;
  position: relative;
  margin: 5px auto 0 auto;


}

.base_banner{
  width: 100%;
  height: 355px;
  /* background-color: #4785C3; */
}


.bane_segundario{
  margin: 5px auto 0 auto;
  width: 1260px;
  height: 120px;
  background-color: #E3E3E3;
  border-radius: 10px;
}


.spaco_entre_bloco{

  height: 20px;

}

.text_menu_prdutos{
  font-size: 22px;
}

.row_produtos{
  display: flex;
}


/****************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
  margin: 0 ;
  padding: 0;  
  box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(107, 138, 240);
}
nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}

a{
    text-decoration: none;
    color:white;
   
}
p{
    color: #555;
}
/*Título e imagem da garota universitária*/
.row{
   margin-left: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 20px 0;
    color:#bdb3b3;
    border-radius: 100%;
    /*filter: blur(-2px);*/
}

.col-2 h1{
    font-size: 25px;
    line-height: 30px;
    margin: 25 px 0;
}
/*Possível botão de explore. Mas não funcionou*/
.btn{
display: inline-block;
background: #ff523b;
color: #fff;
padding: 8px 30px;
margin: 30px 0;
border-radius: 30px;
transition: background 0.5s;
}
.btn:hover{
    background: #563434;
    color: #fff;
}

/* Header, cor suave no fundo do site. Não ocorreu da forma que eu queria...*/
.header{
    background: radial-gradient(#fff, #bdb3b3);
}

.header .row{
     margin-top: 15px;
}

.header .row{
 margin-top: 20px;
}
.categories{
    margin: 70px 0;
}

.col-3{

    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
   
}

.col-3 img{
   width: 100%; 
}
.small-container{
   max-widthp: 1080px;
   margin: auto;
   padding-left: 35px;
   padding-right: 35px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width:100%;

}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position:  relative;
    line-height:60px;
    color:#555;
}

.title::after{
    content: '';
    background:rgb(107, 138, 240);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
transform: translateY(-5px);
}
/***********************Oferta*****************/
.offer{
    background: radial-gradient(#fff, rgb(107, 138,240));
    margin-top: 80px;
    padding: 30px;
}
.col-2  .offer-img{
 padding:50px;
}

small{
    color:rgb(14, 9, 9);
}
/**********************Depoimentos *******************/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: transform 0.5;
}

.testimonial .col-3 img{

    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
    font-size:34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
    }


.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*******-----------Marcas/-------------*******/
.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter:grayscale(0);

}
/***********footer*************/
.footer{
    background: rgb(107, 138, 240);
    color: #3d3939;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #424040;
    
}

.footer h3{
    color:#fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
 min-width: 250px;
 margin-bottom: 20px;

}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1;
    text-align: center;
}

.footer-col-2 img{
    width:180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}

.footer hr{
    border: none;
    background:#b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
}

/****************Menu***********-------------*/
@media only screen and(max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display:block;
        margin-right: 50px;
        margin-top: 10px;

    }
    nav ul li{
        color: #fff;

    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*consulta de mídia para tamanho de tela inferior a 600 */
@media only screen and(max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
 flex-basis: 100%;
    }
}
