@import url('/stylesheets/base.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');



.produtos{
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  margin-right: 20px;
}

.foto-produto{
    width: 100%;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 8px;
    position: relative;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.foto-produto:hover{
    opacity: 80%;
    transition: 0.3s;
}
.prod-cta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2689d4;
    color: white;
    width: 100%;
    height: 40px;
}
.prod-cta:hover{
  transition: 0.8s;
  color: rgb(255, 255, 255);
  background-color: rgb(1, 53, 102);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
}

.prod-nome{
    display: flex;
  justify-content: center;
  align-items: center;
}

.text_menu_produtos{
  margin-left: 110px;
  font-size: 20;
}

/**************  **************/
.contedudo_area{
  background-color: #DDDDDD;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;


}

.botao_classificador{
  padding: 30px;

/* background-color: brown; */

}

.conteudo{

  width: 1290px;
  height: auto;
  background: transparent;
  position: relative;
  margin: 5px auto 0 auto;


}

.base_banner{
  width: 100%;
  height: 355px;
  /* background-color: #4785C3; */
}


.bane_segundario{
  margin: 5px auto 0 auto;
  width: 1260px;
  height: 120px;
  background-color: #E3E3E3;
  border-radius: 10px;
}


.spaco_entre_bloco{

  height: 20px;

}

.text_menu_prdutos{
  font-size: 22px;
}

.row_produtos{
  display: flex;
}
