body{
    margin: 0;
    padding: 0;
    font-weight: Century Gothic;
    background-color: rgb(107, 138, 240);
    background-size: cover;
    background-position: center;
}

.container{
    height: 75vh;
    width: 30%;
    background: rgba(0,0,0,.6);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 0 20px;
}

.img{
    height: 110px;
    width: 110px;
    background: url("imag.PNG");
    background-size: cover;
    background-position: center;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top:0%;
    left:50%;
    transform: translate(-50%,-50%);
}

.container h1{
    color: white;
    margin-top: 50px;
}

.container p{
    color: white;
    margin-top: 60px;
    font-size: large;
}