
    <div class="contedudo_area">
        <br /> 
            <a href="/login" class="texto_dos_menu_do_footer botao_classificador">Todas as Categorias</a>
            <a href="/login" class="texto_dos_menu_do_footer botao_classificador">Brinquedos</a>
            <a href="/login" class="texto_dos_menu_do_footer botao_classificador">Cadernos</a>
            <a href="/login" class="texto_dos_menu_do_footer botao_classificador">Canetas, Lápis e Lapiseiras</a>
            <a href="/login" class="texto_dos_menu_do_footer botao_classificador">Informática</a>
            <a href="/login" class="texto_dos_menu_do_footer botao_classificador">Bolsas e Mochilas</a>
  
    </div>