
    <div class="contedudo_area">

        <div class="">
        <!-- <br />  -->

        

            <!-- <a href="/categorias/T"  class="texto_dos_menu_do_footer botao_classificador">Todas as Categorias</a> -->
            <a href="/categorias/U"  class="texto_dos_menu_do_footer botao_classificador">Utilidades Domesticas</a>
            <a href="/categorias/G"  class="texto_dos_menu_do_footer botao_classificador">Cuidados Pessoais</a>
            <a href="/categorias/E"  class="texto_dos_menu_do_footer botao_classificador">Eletroeletronicos</a>
            <a href="/categorias/I"  class="texto_dos_menu_do_footer botao_classificador">Informatica</a> 
            <a href="/categorias/B"  class="texto_dos_menu_do_footer botao_classificador">Kids</a>  
            <a href="/categorias/C" class="texto_dos_menu_do_footer botao_classificador">Puericultura</a> 
            <a href="/categorias/S"  class="texto_dos_menu_do_footer botao_classificador">Papelaria e Escritorio</a>
            <a href="/categorias/H"  class="texto_dos_menu_do_footer botao_classificador">Hobby Art</a>
            <a href="/categorias/A"  class="texto_dos_menu_do_footer botao_classificador">Coffee Break</a> 
            <a href="/categorias/F"  class="texto_dos_menu_do_footer botao_classificador">Festas</a> 
        </div>
    </div>