<div class="div_principal_foot">


    <div class="div_principal_foot conteudo">

    <div class="item flex-item-1">      
        <img src="/images/logo-azul.png" class="img_logo"/>
        <br /> O Maior portal de Papelaria<br />          
        e Armarinho B2B do Brasil!<br />
        <img src="/images/ssl-site-seguro.png" class="img_site_seguro"/>
   </div>

        <div class="item flex-item-1" style="text-align: left; margin-left: 250px;">
        <br/>      
       
        <a href="/quem_somos" class="texto_dos_menu_do_footer">Quem somos</a><br />
        <a href="/faq" class="texto_dos_menu_do_footer">FAQ</a><br />
        <a href="/politica_de_privacidade" class="texto_dos_menu_do_footer">Política de Privacidade</a><br />
        <a href="/fale_conosco" class="texto_dos_menu_do_footer">Fale conosco</a><br />
        <a href="/criar_conta_usuario" class="texto_dos_menu_do_footer">Criar conta usuário</a><br />
        <!-- <a href="/anunciar" class="texto_dos_menu_do_footer">Anunciar</a><br /> 
        <a href="/meus_orcamentos" class="texto_dos_menu_do_footer">Meus Orçamentos</a><br /> 
        <a href="/login" class="texto_dos_menu_do_footer">Login</a><br />  -->
      </div>

     <div class="item flex-item-1" style="text-align: right;">
          <br /> Mídias Sociais<br />
         <div style="text-align: right;">
             <img src="/images/Facebook.png" class="img_midia_social"/>
             <img src="/images/instagram-logo-3.png"  class="img_midia_social" />
         </div>

    </div>

</div>
</div>
