<head>
    <title>Portal B2B - O Maior Portal de Papelaria do Brasil</title>
    <link rel = "shortcut icon" type = "imagem/x-icon" href='/images/favicon.ico'/>
    <link rel='stylesheet' href='/stylesheets/base.css' />


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' /> -->
    <script src="/script/jquery.min.js"></script>
    <script src="/script/bootstrap.min.js"></script>


</head>