<div class="area_header">
  
   
  
    <div class="item_head flex-item-1">
        <img class="imagem_logo" src="images/logo-branca.png" alt="">
    </div>


      <div class="item_head flex-item-1">
        <input class="area_busca" type="text" placeholder=" Busque aqui por código de barras, nome e etc…" />
      </div>


      <div class="item_head flex-item-1">
        <a href="/meus_orcamentos" class="botao_header">Meus Orçamentos</a>

      </div>

      <div class="item_head flex-item-1">
        <a href="/login" class="botao_header">Login</a>
      </div>

      <div class="item_head flex-item-1">
        <a href="/anunciar" class="botao_header">Anunciar</a>
      </div>



</div>