<head>
    <title>Portal B2B - O Maior Portal de Papelaria do Brasil</title>
    <link rel = "shortcut icon" type = "imagem/x-icon" href='/images/favicon.ico'/>
    <link rel='stylesheet' href='/stylesheets/base.css' />


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>