<div class="area_header">
  
  <div class="area_header conteudo">


    <div class="div_do_logo_heard">
        <a href="http://localhost:8080/"> 
        <img class="imagem_logo" src="/images/logo-branca.png" alt="">
        </a>
   </div>


 <div style="justify-content: center; align-items: center; color: white; white-space : nowrap; margin-left: 250px;">
         <div style="font-size: 45px;"> <span style="font-family: FontAwesome; font-size: 45px;">&#xf009; </span> Painel Administrativo</div>
  </div>


 
    <div class="div_dos_botos_heard">

      <a href="/" type="buttom" class="botao_header_Selecionado"> <span style="font-family: FontAwesome;">&#xf08b; </span>Sair</a>

    </div>

   
    <!-- <div class="item_head flex-item-1">
        <a href="http://localhost:3000/"> 
        <img class="imagem_logo" src="images/logo-branca.png" alt="">
        </a>
    </div>

      <div class="item_head flex-item-1">
      <a href="/meus_orcamentos" class="botao_header">Meus Orçamentos</a>

      </div>

      <div class="item_head flex-item-1">
        <a href="/login" class="botao_header">Login</a>
      </div>

      <div class="item_head flex-item-1">
        <a href="/anunciar" class="botao_header">Anunciar</a>
      </div> -->

  </div>

</div>