<div class="area_header">
  
  <div class="area_header conteudo">


    <div class="div_do_logo_heard">
        <a href="http://localhost:3000/"> 
        <img class="imagem_logo" src="images/logo-branca.png" alt="">
        </a>
   </div>

 
    <input class="area_busca" type="text" placeholder=" Busque aqui por código de barras, nome e etc…" />



 
    <div class="div_dos_botos_heard">
      <a href="/login" type="buttom" class="botao_header">Meus Orçamentos</a>
      <a href="/login" type="buttom" class="botao_header">Login</a>
      <a href="/login" type="buttom" class="botao_header_Selecionado">Anunciar</a>

    </div>

   
    <!-- <div class="item_head flex-item-1">
        <a href="http://localhost:3000/"> 
        <img class="imagem_logo" src="images/logo-branca.png" alt="">
        </a>
    </div>

      <div class="item_head flex-item-1">
      <a href="/meus_orcamentos" class="botao_header">Meus Orçamentos</a>

      </div>

      <div class="item_head flex-item-1">
        <a href="/login" class="botao_header">Login</a>
      </div>

      <div class="item_head flex-item-1">
        <a href="/anunciar" class="botao_header">Anunciar</a>
      </div> -->

  </div>

</div>