<header role="banner" data-siteid="MLB" class="nav-header nav-header-plus">
  <div class="nav-bounds nav-bounds-with-cart nav-bounds-with-cp">
    <a
      id="nav-skip-to-main-content"
      role="button"
      href="#root-app"
      class="nav-skip-to-main-content"
      tabindex="1"
      aria-label="Ir para conteúdo principal"
      ><span class="nav-skip-to-main-content__content"
        >Ir para conteúdo principal</span
      ></a
    ><a class="nav-logo" href="//www.mercadolivre.com.br" tabindex="2"
      >Mercado Livre Brasil - Onde comprar e vender de Tudo</a
    >
    <div class="nav-header-menu-wrapper">
      <label for="nav-header-menu-switch" aria-controls="nav-header-menu"
        ><span class="hamburger-top-bread"></span
        ><span class="hamburger-patty"></span
        ><span class="hamburger-bottom-bread"></span
      ></label>
      <nav id="nav-header-menu-mobile" class="nav-header-menu-mobile-guest">
        <div id="nav-header-menu-mobile-content">
          <div
            id="nav-header-menu-mobile-user-info"
            class="nav-header-menu-mobile-guest"
          >
            <div class="nav-header-menu-mobile-guest-logo">
              <svg
                class="nav-header-menu-mobile-guest-icon"
                width="28"
                height="35"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M27.343 33.706l-1.356.64A13.25 13.25 0 0 0 14 26.75c-5.17 0-9.8 2.988-11.978 7.578l-1.356-.643A14.75 14.75 0 0 1 14 25.25a14.75 14.75 0 0 1 13.343 8.456zM14 21.75C8.063 21.75 3.25 16.937 3.25 11S8.063.25 14 .25 24.75 5.063 24.75 11 19.937 21.75 14 21.75zm0-1.5a9.25 9.25 0 1 0 0-18.5 9.25 9.25 0 0 0 0 18.5zm0-2.5v-1.5a5.25 5.25 0 1 0 0-10.5v-1.5a6.75 6.75 0 0 1 0 13.5z"
                  fill="#BBB"
                  fill-rule="nonzero"
                ></path>
              </svg>
            </div>
            <h3 class="nav-header-menu-mobile-guest-title">Bem-vindo</h3>
            <p class="nav-header-menu-mobile-guest-text">
              Entra na sua conta para ver suas compras, favoritos etc.
            </p>
            <div class="nav-header-menu-mobile-guest-buttons">
              <a
                rel="nofollow"
                class="nav-mobile-button nav-mobile-button-filled"
                href=""
                >Entre</a
              ><a
                rel="nofollow"
                class="nav-mobile-button nav-mobile-button-outline"
                href=""
                >Crie a sua conta</a
              >
            </div>
          </div>
          <ul>
            <li>
              <a href="https://www.mercadolivre.com.br#menu-user"
                ><i class="nav-icon-home"></i><span>Início</span></a
              >
            </li>
            <li>
              <a href="https://www.mercadolivre.com.br/ofertas#menu-user"
                ><i class="nav-icon-deals-mobile"></i
                ><span>Ofertas do dia</span></a
              >
            </li>
            <li>
              <a
                href="https://www.mercadolivre.com.br/gz/home/navigation#menu-user"
                ><i class="nav-icon-history-mobile"></i
                ><span>Histórico</span></a
              >
            </li>
            <li>
              <a href="https://www.mercadolivre.com.br/anuncie#menu-user"
                ><i class="nav-icon-vender-mobile"></i><span>Vender</span></a
              >
            </li>
          </ul>
          <ul>
            <li>
              <a
                href="https://www.mercadolivre.com.br/ofertas/supermercado#menu-user"
                ><i class="nav-icon-supermercado"></i
                ><span>Supermercado</span></a
              >
            </li>
            <li>
              <a
                href="https://www.mercadolivre.com.br/c/calcados-roupas-e-bolsas#menu-user"
                ><i class="nav-icon-moda-mobile"></i><span>Moda</span></a
              >
            </li>
            <li>
              <a
                href="https://www.mercadolivre.com.br/a/especial/compra-internacional#menu-user"
                ><i class="nav-icon-compra-internacional"></i
                ><span>Compra Internacional</span
                ><span class="nav-link-tag">Novo</span></a
              >
            </li>
            <li>
              <a href="https://www.mercadolivre.com.br/lojas-oficiais#menu-user"
                ><i class="nav-icon-stores-mobile"></i
                ><span>Lojas oficiais</span></a
              >
            </li>
            <li>
              <a href="https://www.mercadolivre.com.br/categorias#menu-user"
                ><i class="nav-icon-categories-mobile"></i
                ><span>Categorias</span></a
              >
            </li>
          </ul>
          <ul>
            <li>
              <a href="https://www.mercadolivre.com.br/ajuda#menu-user"
                ><i class="nav-icon-help-mobile"></i><span>Contato</span></a
              >
            </li>
          </ul>
          <ul>
            <li>
              <a
                href="https://www.mercadolivre.com.br/l/app#menu-user"
                id="nav-header-menu-download-mobile"
                ><i class="nav-icon-download-mobile"></i
                ><span>Compre e venda com o app!</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
      <nav id="nav-header-menu">
        <a
          href="https://www.mercadolivre.com.br/registration?confirmation_url=https%3A%2F%2Fwww.mercadolivre.com.br%2F%3Fdeal_id%3DMLB4871#nav-header"
          data-link-id="registration"
          rel="nofollow"
          tabindex="8"
          >Crie a sua conta</a
        ><a
          href="https://www.mercadolivre.com/jms/mlb/lgz/login?platform_id=ML&amp;go=https%3A%2F%2Fwww.mercadolivre.com.br%2F%3Fdeal_id%3DMLB4871&amp;loginType=explicit#nav-header"
          data-link-id="login"
          rel="nofollow"
          tabindex="8"
          >Entre</a
        ><a
          href="https://myaccount.mercadolivre.com.br/purchases/list#nav-header"
          data-link-id="purchases"
          rel="nofollow"
          tabindex="8"
          >Compras</a
        >
      </nav>
    </div>
    <form
      class="nav-search"
      action="https://www.mercadolivre.com.br/jm/search"
      method="GET"
      role="search"
    >
      <input
        type="text"
        class="nav-search-input"
        aria-label="Digite o que você quer encontrar"
        name="as_word"
        placeholder="Buscar produtos, marcas e muito mais…"
        maxlength="120"
        autocapitalize="off"
        autocorrect="off"
        spellcheck="false"
        autocomplete="off"
        tabindex="3"
      /><button type="submit" class="nav-search-btn" tabindex="4">
        <div role="img" aria-label="Buscar" class="nav-icon-search"></div>
      </button>
    </form>
    <div class="nav-menu">
      <ul class="nav-menu-list">
        <li class="nav-menu-item">
          <a
            href="https://www.mercadolivre.com.br/navigation/addresses-hub?go=https%3A%2F%2Fwww.mercadolivre.com.br%2F%3Fdeal_id%3DMLB4871"
            class="nav-menu-cp nav-menu-cp-logged"
            data-js="cp"
            data-modal-action="true"
            tabindex="6"
            ><span class="nav-menu-cp-send">Informe seu</span
            ><span class="nav-menu-link-cp"> CEP</span></a
          >
        </li>
        <li class="nav-menu-item">
          <nav class="nav-categs" data-js="nav-categs" hidden="">
            <section
              class="nav-categs-departments"
              data-js="nav-categs-departments"
            ></section>
            <section
              class="nav-categs-detail"
              data-js="nav-categs-detail"
              hidden=""
            ></section>
          </nav>
          <a
            href="https://www.mercadolivre.com.br/categorias#nav-header"
            class="nav-menu-categories-link"
            data-js="nav-menu-categories-trigger"
            rel="nofollow"
            tabindex="7"
            >Categorias</a
          >
        </li>
        <li class="nav-menu-item">
          <a
            href="https://www.mercadolivre.com.br/ofertas#nav-header"
            class="nav-menu-item-link"
            rel="nofollow"
            tabindex="7"
            >Ofertas do dia</a
          >
        </li>
        <li class="nav-menu-item">
          <a
            href="https://www.mercadolivre.com.br/gz/home/navigation#nav-header"
            class="nav-menu-item-link"
            rel="nofollow"
            tabindex="7"
            >Histórico</a
          >
        </li>
        <li class="nav-menu-item">
          <a
            href="https://www.mercadolivre.com.br/ofertas/supermercado#nav-header"
            class="nav-menu-item-link"
            rel="nofollow"
            tabindex="7"
            >Supermercado</a
          >
        </li>
        <li class="nav-menu-item">
          <a
            href="https://www.mercadolivre.com.br/c/calcados-roupas-e-bolsas#nav-header"
            class="nav-menu-item-link"
            rel="nofollow"
            tabindex="7"
            >Moda</a
          >
        </li>
        <li class="nav-menu-item">
          <a
            href="https://www.mercadolivre.com.br/anuncie#nav-header"
            class="nav-menu-item-link"
            rel="nofollow"
            tabindex="7"
            >Vender</a
          >
        </li>
        <li class="nav-menu-item">
          <a
            href="https://www.mercadolivre.com.br/ajuda#nav-header"
            class="nav-menu-item-link"
            rel="nofollow"
            tabindex="7"
            >Contato</a
          >
        </li>
      </ul>
    </div>
    <a
      href="https://www.mercadolivre.com.br/gz/cart"
      title="Carrinho de compras"
      aria-label="0 produtos em seu carrinho"
      class="nav-cart nav-cart-empty"
      id="nav-cart"
      tabindex="9"
      ><i class="nav-icon-cart"></i
      ><span class="nav-icon-cart-quantity"></span></a
    ><a
      href="https://www.mercadolivre.com.br/ofertas/especial-dia-dos-pais?utm_source=BM+DDP&amp;utm_medium=BM+DDP&amp;utm_campaign=BM+DDP#DEAL_ID=&amp;S=MKT&amp;V=1&amp;T=MENU&amp;L=ALLT1_DIADOSPAIS&amp;me.position=0&amp;me.bu_line=26&amp;me.flow=-1&amp;me.bu=3&amp;me.audience=all&amp;me.content_id=BANNER_MENU_DIA_DOS_PAIS&amp;me.component_id=banner_menu_web_ml&amp;me.logic=user_journey"
      class="exhibitor__picture"
      tabindex="5"
      ><img
        src="https://http2.mlstatic.com/D_NQ_846045-MLA46849705475_072021-OO.webp"
        title="Dia Dos Pais"
        alt="Dia Dos Pais" /></a
    ><a
      href="https://www.mercadolivre.com.br/navigation/addresses-hub?go=https%3A%2F%2Fwww.mercadolivre.com.br%2F%3Fdeal_id%3DMLB4871"
      class="nav-header-cp-anchor"
      data-js="cp"
      data-modal-action="true"
      tabindex="6"
      ><span class="nav-menu-cp-send">Informe seu</span
      ><span class="nav-menu-link-cp"> CEP</span></a
    >
  </div>
</header>
