

 
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">



                <!-- <div class="carousel-item active">
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-fluid" src="https://www.reval.net/imagem/produtos/p/080000.jpg">
                        </div>
                    </div>
                </div> -->


     



                <% masprocurado.forEach((item) => { %>
                    
       
                    <div class="<%= item.class %>"">
                      

                   <div class="col-md-2">



                    <div style="height: 220px; font-size: 10px; border-radius: 10px; border-color: #F0EDED; background-color: #F0EDED; border-width: 0px; margin: 20px; " >
            
                        <div style="text-align: center; margin: 15px;">      
                              <img class="imagem_logo" style="text-align: center; width: 100px; height: 100px; border-radius: 50%; margin-top: 15px;" src=<%= item.img %> alt="">
                           </div>
                  
                    
                       <div style="text-align: center;"> 
                         <h6><%= item.produto %></h6>
                       </div>
                        
                        
                       <div style=" font-size: 10px; text-align: center;">
                        <a style=" font-size: 12px;" class="btn btn-primary" href="/orcamento/<%= item.codigo %>"> <span style="margin-top: 0px; font-family: FontAwesome;">&#xF002; </span>Receber Orçamento</a>
                        </div> 
                      </div>


                   </div>
       
                 </div>

                <% })%>

                
            
                        <!-- <div class="card-body">
                            <img class="img-fluid" src="https://www.reval.net/imagem/produtos/p/097720.jpg">
                        </div> -->
          


<!-- 
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="https://www.reval.net/imagem/produtos/p/097720.jpg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="https://www.reval.net/imagem/produtos/p/069951.jpg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="https://www.reval.net/imagem/produtos/p/050268.jpg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="http://placehold.it/380?text=6">
                        </div>
                    </div>
                </div> -->




            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
  


<script>
    $('#recipeCarousel').carousel({
  interval: 10000
})

$('.carousel .carousel-item').each(function(){
    var minPerSlide =6;
    var next = $(this).next();
    if (!next.length) {
    next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    for (var i=0;i<minPerSlide;i++) {
        next=next.next();
        if (!next.length) {
        	next = $(this).siblings(':first');
      	}
        
        next.children(':first-child').clone().appendTo($(this));
      }
});

</script>



</script>
<!--scripts loaded here-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/src/home/carousel.js"></script>
<script type="text/javascript">

</script>